@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');



/* Mobile */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    position: fixed;
    top: 70px;
    right: 0;
    flex-direction: column;
    width: 220px;
    height: calc(100vh - 70px);
    padding: 2rem 1rem;
    background: rgba(51, 20, 249, 0.3);
    box-shadow: -2px 0 8px rgba(0,0,0,0.5);
    z-index: 1000;
  }

  .navbar-menu.active { display: flex; }

  .navbar-toggle { display: flex; }

}


.contain {
    width: 90%;
    max-width:100%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Pequenos celulares */
@media (max-width: 480px) {
  .navbar-container { padding: 0 1rem; }
  .navbar-logo { font-size: 1.5rem; }

}



.contain {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}










